.cardModule {
    width: calc(100%/4);
    height: 31rem;
}

.carouselControlPrev{
    justify-content: start;
    width: auto;
    top: 45%;
    bottom: 45%;
    background-color: rgb(177, 174, 174);
    left: 0.3%
}
.carouselControlPrev:focus{
    
    background-color: rgb(177, 174, 174);
    
}

.carouselControlNext{
    justify-content: start;
    width: auto;
    top: 45%;
    bottom: 45%;
    background-color: rgb(177, 174, 174);
    right: 0.3%

}

@media screen and (max-width: 576px) {
    .cardModule {
        width: calc(100%/2);
        height: auto;
    }
}

@media screen and (max-width: 1200px) and (min-width: 576px) {
    .cardModule {
        width: calc(100%/3);
    }
}

