.navLink:hover {
    color: blue
}

.banner {
    height: 60vh;
    object-fit: cover;    
}

@media screen and (max-width: 767px) and (min-width: 567px) {
    .containerResponsive {
        max-width: 100% !important;
    }
}