.navLink:hover {
    color: blue
}

@media screen and (min-width: 1400px) {
    .cardModule {
        width: 25%;
    }  
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
    .cardModule {
        width: 30%;
    }  
}
@media screen and (max-width: 899px) {
    .cardModule {
        width: 45%;
    }  
}
