body {
    position: relative;
    padding-bottom: 6em;
    min-height: 100vh; 
}

.card .card-container-img {
    height: 20rem;
}

.card-body {
    height: 10rem;
    padding-top: 3em;
    overflow:hidden
}

/* Navbar */

nav .nav-link{
    color: white !important;
}

.navbar-brand {
    font-family: 'Permanent Marker', serif;
    font-size: 40px;
}

nav, nav .dropdown-menu {
    background-color: #444455;
}

nav .dropdown-menu .nav-link:hover {
    background-color:#585880
}

nav .item:hover {   
    transform: scale(1.10);   
}

nav svg:hover {
    transform: scale(1.20);
}

/* Formulario Nuevo Producto */

.formEvent {
    min-height: 70vh;
}
.formEvent form {
    width: 100%;
    padding: 40px;
    background: rgb(138, 133, 133);
    border-radius: 20px;
}

.formEvent form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.formEvent img {
    height: 8em;
}

@media screen and (max-width: 800px ) {
    
    .formEvent .containerImg{
        flex-wrap: wrap;
    }
    .formEvent .containerImg input{
        width: 100% !important
    }
}

/* Formulario Login/Register */

.formLogin {
    min-height: 70vh;
}
.formLogin form {
    padding: 40px;
    background: rgb(138, 133, 133);
    border-radius: 20px;
}

