body {
    position: relative;
    padding-bottom: 6em;
    min-height: 100vh;
}

/* Cards */

.card-body {    
    padding: 5px 16px;
}

.card-body p {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.card img {
    max-height: 280px;
}

/* Navbar */

nav .nav-link{
    color: white !important;
}

.navbar-brand {
    font-family: 'Permanent Marker', serif;
    font-size: 40px;
}
nav .navbar-toggler {
    box-shadow: none !important;
}

nav, nav .dropdown-menu {
    background-color: #444455;
}

nav .dropdown-menu .nav-link:hover {
    background-color:#585880
}

nav .item:hover {   
    transform: scale(1.10);   
}

nav svg:hover {
    transform: scale(1.20);
}
nav #counterItemsCart {
    position: absolute;
    top:10%;
    right: 5%;
    width: 17px;
    border-radius: 100%;
    height: 17px;  
    background-color: rgb(147, 146, 212);
}
nav #counterItemsCart span {
    margin-left: 4px;
    top: -7%;
    font-size: 13px;
    position: absolute;
    
}

nav #cart {
    position: relative;
    width: 51px;
    height: 51px;
}


@media screen and (max-width: 992px) {
    nav .navbar-brand {
        padding: 0 15px;
    }
    nav h3 {
        font-size: 30px !important;
        margin: 0px !important
    }  
    nav .container-icons > ul {
        flex-direction: row;
        gap: 5px 
    }
    nav .container-icons {
        margin-left: auto
    }
    nav .item:hover, nav svg:hover {   
        transform: none;  
    }
    nav .offcanvas {
        background-color:#444455;
        width: 85vw !important;
    }    
    nav .offcanvas-body .nav-link:hover {
        color:lightblue !important
    }
}

/* Form New Product */

.formCreateProduct {
    min-height: 70vh;
}
.formCreateProduct form {
    width: 100%;
    padding: 40px;
    background: rgb(138, 133, 133);
    border-radius: 20px;
}

.formCreateProduct form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.formCreateProduct img {
    height: 8em;
}

@media screen and (max-width: 800px ) {
    
    .formCreateProduct .containerImg, .formEditProduct .containerImg{
        flex-wrap: wrap;
    }
    .formCreateProduct .containerImg input, .formEditProduct .containerImg input{
        width: 100% !important
    }
}

/* Form Login/Register */

.formLogin {
    min-height: 70vh;
}
.formLogin form {
    padding: 40px;
    background: rgb(138, 133, 133);
    border-radius: 20px;
}

@media screen and (max-width: 800px ) {
    
    .formLogin form {
        width: 100% !important;
    }
    .formLogin form > div {
        display: block !important;
    }

    .formLogin form>div:last-child button{
        width: 100% !important;
    }
    
}

